.scaler {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}

.wasm {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: text;
  overflow: hidden;
  user-select: none;
  outline: none;
}

.agentScale {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  pointer-events: none;
}

.lite {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--text-1);
  font-size: 11.8px;
  line-height: 1.2;
  user-select: none;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: 'Hack', ui-monospace, monospace;
}
